<!-- main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/jass.css">
    
</head>
<body>
    <!-- Add navigation here -->
    <nav>
        <div id="username-display">{{username}}</div>
        <button id="logout-button">Logout</button>
    </nav>
    {{{body}}}
</body>
</html>